link(rel='stylesheet', href='site.css')
include ./icon-link.pug
block nav

html
  head
    title Jeremy Dye
    meta(name='viewport', content='width=device-width', initial-scale=1)

  body
    div.container
      .header
        .picture
        .title Jeremy Dye
        .subtitle Software Engineer

      ul.navbar
        li
          a(href="/" class=(about ? "active" : "")) About
        li
          a(href="/portfolio" class=(portfolio ? "active" : "")) Portfolio

      div.content
        block content

  script(src='analytics.js')
  script(defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js")
