link(rel='stylesheet', href='site.css')
include ./icon-link.pug
block nav

html
  head
    title dyeje
    meta(name='viewport', content='width=device-width', initial-scale=1)

  body
    div.container
      h1 dyeje

      ul.navbar
        li
          a(href="/" class=(about ? "active" : "")) About
        li
          a(href="/portfolio" class=(portfolio ? "active" : "")) Portfolio

      div.content
        block content

      div.footer

  script(src='analytics.js')