extends ./layout.pug

block nav
  - portfolio = true

block content
  div
    h2(style='margin-top: 0px;') rails_json_field
    .link-container
      +iconLink("https://github.com/dyeje/rails_json_field", "assets/github.png", "GitHub")
    p I looked for a gem to let users fill out a JSON field's keys and values in a Rails form. I couldn't find one, so I decided to make it.

  div
    h2 surrounded
    .link-container
      +iconLink("/surrounded", false, "▶ Try It")
      +iconLink("https://github.com/dyeje/surrounded", "assets/github.png", "GitHub")
    p I used to play a game where you eat enemies to get bigger. Once I mastered the game, I wanted a harder version of it. So I made this game. I had a lot of fun building and designing it. One of the goals was to have no dependencies, so it's built with vanilla JavaScript. I used SonicPi to program the music in Ruby.
    img.screenshot(src='assets/surrounded_screenshot.png')

  div
    h2 swDiceRoller
    .link-container
      +iconLink("/swDiceRoller", false, "▶ Try It")
      +iconLink("https://github.com/dyeje/swDiceRoller", "assets/github.png", "GitHub")
    p I play the tabletop game Edge of the Empire. It has a unique dice system. I decided to whip up a little app to roll the dice because it sounded fun. It comes in handy when you forget your dice or are trying to play with an online group.
    img.screenshot(src='assets/swdiceroller_screenshot.png')

  div
    h2 dyeje Website
    .link-container
      +iconLink("https://github.com/dyeje/dyeje", "assets/github.png", "GitHub")
    p This is a static site hosted on S3. It uses Pug for templating, Sass for CSS, and Gulp for building. It used to be a tiny node server (which you can also find on my GitHub), but I ran out of free EC2 credits and decided to save some cash by converting it to static.