extends ./layout.pug

block nav
  - portfolio = true

block content
  div
    h2 SelectStar
    +iconLink("https://selectstar.io", 'assets/arrow.jpeg', "Check it Out")
    p SelectStar is SaaS database monitoring platform that allows you to keep track of all your databases (RDBMS, NoSQL, distributed, etc) in one spot. I work on this full time at Blue Medora currently.
    img.screenshot(src='assets/selectstar_screenshot.png')

  div
    h2 surrounded
    +iconLink("/surrounded", 'assets/arrow.jpeg', "Check it Out")
    +iconLink("https://github.com/dyeje/surrounded", "assets/github.png", "View it on GitHub")
    p I used to play where you eat enemies to get bigger. Once I mastered the game, I wanted a harder version of it. So I made this game. I had a lot of fun building it and designing it. One of the goals was to not have any dependencies, so it's built with plain old JavaScript. I used SonicPi to program the music in Ruby.
    img.screenshot(src='assets/surrounded_screenshot.png')

  div
    h2 swDiceRoller
    +iconLink("/swDiceRoller", 'assets/arrow.jpeg', "Check it Out")
    +iconLink("https://github.com/dyeje/swDiceRoller", "assets/github.png", "View it on GitHub")
    p I play the tabletop game Edge of the Empire. It uses a unique dice sysstem. I decided to whip up a little app to roll the dice because it sounded fun. It comes in handy when you forget your dice or are trying to play with an online group.
    img.screenshot(src='assets/swdiceroller_screenshot.png')

  div
    h2 dyeje Website
    +iconLink("https://github.com/dyeje/dyeje", "assets/github.png", "View it on GitHub")
    p This is a static site hosted on S3. It uses Pug for templating, Sass for CSS, and Gulp for building. It used to be a tiny node server (which you can also find on my GitHub), but I ran out of free EC2 credits and decided to save some cash by converting it to static.